.footer {
  display: flex;
  padding: 3rem;
  padding-top: 4rem;
  align-items: center;
  justify-content: center;
  background-color: #ffe5e9;
}
.footer-container {
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
  .footer-section {
    flex-grow: 1;
     margin-right: 2.5rem;
  }
  .footer-section h4 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  .footer-section ul {
      list-style: none;
  }
  .footer-section li {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .subscribe-form{
    padding-top: 2.5rem;
  }
  .subscribe-form input {
    width: 15rem;
    border: none;
    padding: 10px;
    border-radius: 5px;
  }
  .subscribe-form button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #606caa;
  }
  .footer-section .DropIcons{
    font-size: 1.5rem;
    display: none;
  }
  @media (width <= 500px) {
    .footer {
        padding: 2.5rem 1rem;
        padding-top: 3.5rem;
      }
      .footer-container {
        gap: 1rem;
      }
      .listFlex{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .MainDroplist{
        display: none;
      }
      .Droplist{
        padding-left: 2.5rem;
      }
      .footer-section {
        width: 100%;
        margin-right: 0rem;
        padding-bottom: 1rem;
        border-bottom: 1px thick #000000;
      }
      .footer-section h4 {
        font-size: 1.5rem;
      }
      .footer-section li {
        font-size: 1.2rem;
      }
      .footer-section .DropIcons{
        display: block;
      }
      
  }