body {
  background-color: #ffe5e9;
}
.mainHeader{
  padding: 1rem 7rem;
}
.mainHeader .headerContain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.logo span {
  color: #cf9e42;
}
.links {
  gap: 2rem;
  display: flex;
  list-style: none;
}

.links li a {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.signup-btn {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  background: #cfa1a8;
  border-radius: .5rem;
}
main {
  display: flex;
  padding: 3rem 0rem;
  align-items: center;
  justify-content: center;
}

main .hero-content{
  width: 35%;
}
main .hero-content h1 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
}
main .hero-content p {
  margin-bottom: 1.5rem;
}
main .read-more-btn {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5rem 1.3rem;
  background: #cfa1a8;
}
main .hero-image {
  width: 700px;
  text-align: center;
}
main .hero-image img {
  width: 100%;
  border-radius: 8px;
}

.hero-image blockquote {
  margin-top: 1rem;
  font-style: italic;
}
.mainHeader .menu-btn{
  display: none;
  font-size: 2rem;
}

/* Responsive Design */
@media (width <= 1000px) {
  .mainHeader{
    position: relative;
    padding: 2rem 2rem;
  }
  main{
    gap: 1rem;
  }
  main .hero-content{
    width: 40%;
  }
  .mainHeader .menu-btn{
    display: block;
  }
  .listHolder{
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links{
    display: none;
  }
  .ul{
    top: 60px;
    right: 2rem;
    width: 120px;
    height: 138px;
    display: block;
    list-style: none;
    border-radius: 5px;
    position: absolute;
    background: #fff;
    border: 2px solid #ffe5e9;
  }
  .ul li{
    text-align: center;
    padding: .5rem 1rem;
  }
  .ul li:hover{
    background: #fff;
  }
  .ul li a{
    color: #000;
    text-decoration: none;
  }
}
@media screen and (width <= 750px){
  .mainHeader{
    padding: 1.5rem 1rem;
  }
  .signup-btn{
    font-size: .7rem;
  }
  .listHolder{
    gap: 1rem;
  }
  .mainHeader main {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
  }
  main .hero-content{
    padding-top: 2rem;
    width: 100%;
  
  }main .hero-image{
    width: 100%;
  }
}